*{margin:0; padding: 0;}
a{text-decoration: red}
kbd{border: 1px solid red;
    width: 4em;
    height: 4em;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
}
kbd > button{
    position: absolute;
    right: 0;
    bottom: 0;
    display: none;
}
kbd:hover > button{
    display: inline-block;
}
body{
    background: gray url(./wall.jpg) no-repeat center center;
    background-size: cover;
}/*背景*/
main{text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
#main{
  display: block;;
}
#main > div:nth-child(2){
    margin-left: -10px;
}
#main > div:nth-child(3){
    margin-left: -80px;
}
.wrapper{
    background: rgba(0, 0, 0, 0.2)
}
.key{
    width: 50px;
    height: 40px;
    background: linear-gradient(to bottom, #292929 0%,#111111 100%);
    border: 1px solid #373737;
    color: #c5c5c5;
    border-radius: 6px;
    box-shadow: 0 0 0 1px #1A1B1C, 0 0 0 2px #1f2020,0 3px 0 2px #000000;
    position:relative;
    font-size: 16px; font-family: Helvetica;
}
.row{
    margin: 17px;
}
.row .key{
    margin: 0 10px;
}
.key img{
    height: 16px;
    width: 16px;
    position: absolute;
    left: 4px;
    bottom: 1px;
}
.key .text{
    position: absolute;
    left: 4px;
    top: 2px;
}
